@model QBitNinja.Models.HelpModel
@{
    ViewBag.Title = "Help";
}


<h2>Methods</h2>
<ul>
    @foreach (var route in Model.Routes)
    {
        <li>
            @route.Template
            <ul>
                @foreach (var sample in route.Samples)
                {
                    <li>
                        @if (@sample.Comment != null)
                        {
                            @sample.Comment
                        }
                        <a href="@sample.Url">@sample.Url</a>
                    </li>
                        }
            </ul>
        </li>
    }
</ul>
